<md-toolbar color="primary">  
  <a>
    <h3 class="name xs-hidden">
      <button md-mini-fab (click)="side.toggle()"><md-icon>more_vert</md-icon></button>
      <a [routerLink]="['home']">Игорь Тихоненко</a>
    </h3>
  </a>
  <span>
    <button *ngIf="!authService.userSignedIn()" md-button [routerLink]="['/signin']"><md-icon>mood</md-icon> Вход</button>
    <button *ngIf="!authService.userSignedIn()" md-button [routerLink]="['/signup']"><md-icon>account_circle</md-icon> Регистрация</button>
    <button *ngIf="authService.userSignedIn()" md-button (click)="signOut()"><md-icon>power_settings_new</md-icon> Выйти</button>
  </span>
</md-toolbar>
  
