<div class="shadow-navbar">
  <md-tab-group color="primary"  (selectChange)="onLinkClick($event)" [selectedIndex]="5">
    <md-tab label="Проэкты">
      <div class="row row-custom">
       
        <div class="col-sm-6 col-custom" *ngFor="let project of projects">
          <a [routerLink]="['projects', project.id]">
            <md-card class="example-card">
              <img md-card-image [src]="project.image">
              <md-card-content>
                <div class="title">
                  <strong>
                    {{ project.title }}
                  </strong>
                </div>
                <span class="technology">
                  <i>
                    {{ project.technology }}
                  </i>
                </span>
                <p class="summary">
                  {{ project.summary | truncate }}
                </p>
              </md-card-content>
            </md-card>
          </a>
        </div>
      </div>

    </md-tab>
    <md-tab label="Обучалка">
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-tab>
    <md-tab label="Контакты">
      <md-card>
        <div class="img-wrapper">
          <img src="/assets/images/guys-glasses.jpg" alt="handsome developer">
          <div class="upwork"><a href="https://www.upwork.com/o/profiles/users/_~01886ed47a9c118bd1/" target="_blank"><img src="/assets/images/hire_me_button_upwork.gif" alt="Upwork"></a></div>
      </div>
        <h3 class="sidenav-contacts">Игорь Тихоненко</h3>
        <span class="sidenav-freelance">Фрилансер, web/mobile разработчик</span>
        <p class="sidenav-interesting-projects">В настоящее время принимаю предложения об участии в интересных проектах.</p>
        <hr>
        <div class="social-media">
          <a md-raised-button color="accent" href="https://www.facebook.com/igor.tikhonenko" target="_blank">facebook</a>
          <a md-raised-button color="accent" href="https://www.linkedin.com/in/igor-tikhonenko-b34726109/" target="_blank">linkedin</a>
          <a md-raised-button color="accent" href="https://twitter.com/nafootball_com" target="_blank">twitter</a>
          <a md-raised-button color="accent" href="https://github.com/tihandjan" target="_blank">github</a>
        </div>
      </md-card>
    </md-tab>
  </md-tab-group>
</div>
