.sidenav-contacts {
    margin-bottom: 0;
    font-family: cursive;
}
.sidenav-freelance {
    font-style: italic;
    color: #808080;
    margin-bottom: 5px;
}
.sidenav-interesting-projects {
    margin: 0 0 10px;
}

a:hover {
    text-decoration: none;
}

.social-media {
    text-align: center;
}

.upwork img {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 120px;
}

.row-custom {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 80px;
}

.col-custom {
    margin-bottom: 25px;
}

md-card-content {
    height: 105px;
}

.title {
    font-family: cursive;
    font-size: 15px;
}

.technology {
    color: #808080;
}

.summary {
    margin-top: 7px;
}

md-card-content {
    margin-top: -8px;
}

.social-media a{
    margin-top: 5px;
}