<div class="contacts-wrapper">


  <md-card>
    <h1 class="contacts-h1">Обратная Связь</h1>
    <p class="spacer-line">___</p>
    <p class="contacts-text">Мне всегда приятно услышать Вас. Ваша обратная связь придает мне вдохновения.</p>

    <form action="">
      <p>
        <md-input-container class="example-full-width">
          <input mdInput placeholder="Ваше Имя" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="email" mdInput placeholder="Ваша Почта" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Ваше Сообщение" name="" id="" cols="30" rows="10" required></textarea>
        </md-input-container>
      </p>
      <p>
        <button type="submit" md-raised-button color="primary">Отправить</button>
      </p>
    </form>
  </md-card>

</div>
