<div class="projects-page" *ngIf="project">
  <div class="img-wrapper">
    <img [src]="'http://localhost:3000' + project?.pictures[0]?.file?.url" [alt]="project.title">
  </div>
  <h1 class="project-h1">{{ project.title }}</h1>
  <p class="spacer-line">__</p>
  <p class="project-technology">{{ project.technology }}</p>
  <p class="article-description" [innerHTML]=project.description></p>


  <p>Website: <a href="{{ project.site_url }}" target="_blank">{{ project.name }}</a></p>
  <p>Дата релиза: <span class="realise-date">{{ project.realise }}</span></p>

  <app-pagination [items]="projects" [item]="project" [road]="'/projects'"></app-pagination>
  
</div>