<div [class]="style">
  <app-header></app-header>
  <div class="radio-button-styling">
    <app-changestyle (change)="onChange($event)" [currentStyle]="style"></app-changestyle>
  </div>

  <div class="container-fluid container-fluid-custom">
    <div class="row">
      <div class="col-md-8 left-sidenav-md">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-4 right-sidenave-md">
        <app-right-sidenav></app-right-sidenav>
      </div>
    </div>
  </div>

</div>

