<div class="admin-page">
  <md-card><h1>Welcome to Admin Panel</h1></md-card>
  <md-card>
    <md-menu #articleMenu="mdMenu">
      <button md-menu-item [routerLink]="['articles/new']"> Create Article </button>
      <button md-menu-item [routerLink]="['articles']"> View All Articles </button>
    </md-menu>
    <md-menu #projectMenu="mdMenu">
      <button md-menu-item [routerLink]="['projects/new']"> Create Project </button>
      <button md-menu-item [routerLink]="['projects']"> View All Projects </button>
    </md-menu>

    <button md-raised-button color="primary" [mdMenuTriggerFor]="articleMenu">
      Articles
    </button>
    <button md-raised-button color="primary" [mdMenuTriggerFor]="projectMenu">
      Projects
    </button>
  </md-card>
</div>
<router-outlet></router-outlet>