<div class="article-page" *ngIf="article">
  <div class="img-wrapper">
    <img [src]="url + article.pictures[0]?.file?.url" [alt]="article.title">
  </div>
  <h1 class="article-h1">{{ article.title }}</h1>
  <p class="spacer-line">__</p>
  <p class="article-date">{{ article.created_at }}</p>
  <p class="article-technology">{{ article.technology }}</p>
  <p class="article-description">{{ article.description }}</p>

  <app-pagination [items]="articles" [item]="article" [road]="'/articles'"></app-pagination>
</div>