<div class="auth-modal-wrapper">
  <div class="modal-header">Enter your email/password to sign in</div>
  
  <form class="auth-form" #form="ngForm" (ngSubmit)="sendCridentials(cridentials)">

    <md-input-container class="auth-full-width">
      <input md-input 
             placeholder="Email"
             type="email"
             required
             name="email"
             #email="ngModel"
             [(ngModel)]="cridentials.email"
      >
    </md-input-container>
    <md-input-container class="auth-full-width">
      <input md-input 
             placeholder="Password"
             type="password"
             required
             name="password"
             #password="ngModel"
             [(ngModel)]="cridentials.password"
      >
    </md-input-container>

    <button [disabled]="!form.form.valid" class="auth-submit-btn" type="submit" md-button >Войти</button>  
    <button class="auth-cancel-btn" md-button (click)="dialogRef.close()">Отмена</button>
  </form>

</div>
