.auth-modal-wrapper {

}

.modal-header {
    font-size: 17px;
    font-family: cursive;
    font-weight: 700;
    text-align: center;
}

.auth-submit-btn {
    float: left;
    width: 49%;
}

.auth-cancel-btn {
    float: right;
    width: 49%;
}