<div class="wrapper">

  <md-card>
    <h1 class="h1">Add New Project</h1>
    <p class="spacer-line">___</p>

    <form action="">
      <p>
        <md-input-container class="example-full-width">
          <input md-input placeholder="title" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="text" md-input placeholder="Summary" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="text" md-input placeholder="Project Name" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="text" md-input placeholder="Realise Date" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="text" md-input placeholder="Site Url" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input type="text" md-input placeholder="Technology" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <input md-input placeholder="Upload the file" required>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="example-full-width">
          <textarea md-input placeholder="Description" name="" id="" cols="30" rows="10" required></textarea>
        </md-input-container>
      </p>
      <p>
        <button type="submit" md-raised-button color="primary">Отправить</button>
      </p>
    </form>
  </md-card>

</div>
title: string,
    summary: string,
    technology: string,
    description: string,
    image: string,
    site_url: string,
    realise: string,
    name: string