.container-fluid-custom {
    padding-left: 0;
    padding-right: 0;
}

.right-sidenave-md {
    padding-left: 0;
    padding-right: 0;
    max-height: 100vh;
}

.md-tab-label {
    width: 33.33333333% !important;
}