<h1 class="h1">Введите почту и пароль для регистрации</h1>
<p class="spacer-line">___</p>

<form #form="ngForm" (ngSubmit)="signUp(signUpObject)">
  <p>
    <md-input-container>
      <input mdInput
             type="email"
             placeholder="Почта"
             required
             name="email"
             #email="ngModel"
             [(ngModel)]="signUpObject.email">  
    </md-input-container>  
  </p> 
  <p>
    <md-input-container>
      <input mdInput
             type="password"
             required
             placeholder="Пароль"
             name="password"
             #password="ngModel"
             [(ngModel)]="signUpObject.password">
    </md-input-container>
  </p>
  <p>
    <md-input-container>
      <input mdInput
             type="password"
             required
             placeholder="Повторите Пароль"
             name="password_confirmation"
             #password_confirmation="ngModel"
             [(ngModel)]="signUpObject.passwordConfirmation">
    </md-input-container>
    <span *ngIf="signUpObject.password != signUpObject.passwordConfirmation" style="color: red">Пароли должны совпадать</span>
  </p>
  <p>
    <button type="submit" md-raised-button color="primary" [disabled]="!form.form.valid || signUpObject.password != signUpObject.passwordConfirmation">Регистрация</button>
  </p>
</form>