<div class="home-page">
    <div class="img-wrapper">
        <img src="/assets/images/guys-glasses.jpg" alt="handsome developer">
        <div class="upwork"><a href="https://www.upwork.com/o/profiles/users/_~01886ed47a9c118bd1/" target="_blank"><img src="/assets/images/hire_me_button_upwork.gif" alt="Upwork"></a></div>
    </div>
    <h1 class="custom-h1">Привет! Я web/mobile разработчик-фрилансер</h1>
    <p class="spacer-line">___</p>
    <p class="country">Живу в/на Украине :)</p>
    <div class="text-wrapper">
        <p>
            Hi, thanks for stopping by. I am Joseph, a passionate ruby on rails developer who cares deeply about beautiful design, elegant code, and the intersection of the two. My core competency lies in complete end-end management of a new website development project.
        </p>
        <p>
            I'm on a journey to programming mastery, my main focus is ruby on rails. I wish to help my clients build state of art ruby on rails application. Join me as I work to master Ruby on Rails, ajax, jquery, html5, css3 and more!
        </p>
    </div>
</div>