<div class="home-page">
    <div class="img-wrapper">
        <img src="/assets/guys-glasses.jpg" alt="handsome developer">
    </div>
    <h1 class="custom-h1">Привет! Я web разработчик фрилансер</h1>
    <p>
        Hi, thanks for stopping by. I am Joseph, a passionate ruby on rails developer who cares deeply about beautiful design, elegant code, and the intersection of the two. My core competency lies in complete end-end management of a new website development project.
    </p>
    <p>
        I'm on a journey to programming mastery, my main focus is ruby on rails. I wish to help my clients build state of art ruby on rails application. Join me as I work to master Ruby on Rails, ajax, jquery, html5, css3 and more!
    </p>
</div>